.hierarchy-table {
  position: relative;
  background: none;
  border: none;
}
.hierarchy-table.bordered {
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid #e5e7ff;
}
.hierarchy-table .main-content {
  position: relative;
  width: calc(100% + 1px);
  margin-left: -1px;
}
.hierarchy-table .main-content .areas {
  position: relative;
  height: auto;
  background: #e5e7ff;
}
.hierarchy-table .main-content .areas .area {
  position: absolute;
}
.hierarchy-table .main-content .areas .area.area-tl {
  top: 0;
  left: 0;
  z-index: 2;
}
.hierarchy-table .main-content .areas .area.area-tl th {
  text-align: center;
}
.hierarchy-table .main-content .areas .area.area-tl th:first-child {
  border-top-left-radius: 15px;
  border-left: none;
  height: 54px;
}
.hierarchy-table .main-content .areas .area.area-tr {
  overflow: hidden;
  top: 0;
  right: 0;
  z-index: 1;
}
.hierarchy-table .main-content .areas .area.area-tr > div {
  overflow-x: auto;
  overflow-y: scroll;
}
.hierarchy-table .main-content .areas .area.area-tr tr th {
  text-align: center;
}
.hierarchy-table .main-content .areas .area.area-tr tr th:first-child {
  border-left: none;
}
.hierarchy-table .main-content .areas .area.area-tr tr th:last-child {
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  border-left: none;
}
.hierarchy-table .main-content .areas .area.area-tr tr th.calendar-month {
  text-align: left;
  padding: 3px 15px;
  font-size: 17px;
  border-bottom: 1px solid #fff;
}
.hierarchy-table .main-content .areas .area.area-tr tr th.calendar-month label {
  margin: 0;
  font-family: "OpenSans";
  font-weight: normal;
  color: #999;
  text-transform: uppercase;
}
.hierarchy-table .main-content .areas .area.area-tr tr th.calendar-day {
  border-bottom: 1px solid #dfdfdf;
}
.hierarchy-table .main-content .areas .area.area-tr tr th.calendar-day .day {
  text-align: center;
  width: 100%;
  float: left;
  color: #666;
  display: inline-block;
}
.hierarchy-table .main-content .areas .area.area-tr tr th.calendar-day .day.day-of-month {
  font-size: 20px;
  line-height: 20px;
}
.hierarchy-table .main-content .areas .area.area-tr tr th.calendar-day .day.day-of-week {
  font-size: 12px;
  line-height: 20px;
  margin-top: 0;
}
.hierarchy-table .main-content .areas .area.area-tr tr th.calendar-day .day.day-0 {
  color: #fc6969;
}
.hierarchy-table .main-content .areas .area.area-tr tr th.calendar-day .day.day-6 {
  color: #fcb169;
}
.hierarchy-table .main-content .areas .area.area-bl {
  bottom: 17px;
  left: 0;
}
.hierarchy-table .main-content .areas .area.area-bl > div {
  background-color: #fff;
  overflow-y: auto;
  overflow-x: auto;
}
.hierarchy-table .main-content .areas .area.area-bl > div tr:nth-of-type(odd) {
  background-color: #fff;
}
.hierarchy-table .main-content .areas .area.area-br {
  bottom: 0;
  right: 0;
  z-index: 1;
}
.hierarchy-table .main-content .areas .area.area-br > div {
  overflow-y: scroll;
  overflow-x: scroll;
  width: 100%;
}
.hierarchy-table .main-content .areas .area.area-br > div tr:nth-of-type(odd) {
  background-color: #fff;
}
.hierarchy-table .main-content .areas .area.area-br > div tr td.day-6 {
  background: #fff3e0;
}
.hierarchy-table .main-content .areas .area.area-br > div tr td.day-0 {
  background: #fbe9e7;
}
.hierarchy-table .main-content .areas .empty-message {
  position: absolute;
  top: 52%;
  left: 44%;
  font-weight: bold;
  color: #909090;
  font-size: 14px;
  z-index: 2;
}
.hierarchy-table .main-content .areas .tr-filter {
  background: #fff;
}
.hierarchy-table .main-content .areas .tr-filter td {
  padding: 0;
  height: 37px;
  overflow: unset;
  position: relative;
  vertical-align: top;
}
.hierarchy-table .main-content .areas .tr-filter td .form-group {
  margin-right: -2px;
  margin-bottom: 0;
}
.hierarchy-table .main-content .areas .tr-filter td .form-group .compo-tree {
  height: 36px;
}
.hierarchy-table .main-content .areas .tr-filter td .form-group .compo-tree .btn {
  border-radius: 0;
  border: none;
  height: 36px;
}
.hierarchy-table .main-content .areas .tr-filter td .input-group {
  margin-right: 1px;
}
.hierarchy-table .main-content .areas .tr-filter td .input-group .select-operator {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.hierarchy-table .main-content .areas .tr-filter td .input-group .input-group-btn .btn {
  width: 31px;
  height: 31px;
  padding: 6px;
  border: none;
}
.hierarchy-table .main-content .areas .tr-filter td .input-group .input-group-btn .btn i {
  font-size: 12px;
}
.hierarchy-table .main-content .areas .tr-filter td .input-group .input-group-btn .btn.btn-left {
  border-color: transparent #dfdfdf transparent transparent;
}
.hierarchy-table .main-content .areas .tr-filter td .input-group .input-group-btn .btn.btn-right {
  border-color: transparent transparent transparent #dfdfdf;
}
.hierarchy-table .main-content .areas .tr-filter td .input-group .input-group-addon {
  padding: 5px;
  border-top: none;
  border-bottom: none;
  height: 31px;
}
.hierarchy-table .main-content .areas .tr-filter td .input-group .select2-container {
  box-shadow: none;
  background: none;
  margin-top: -1px;
  border-bottom: none;
}
.hierarchy-table .main-content .areas .tr-filter td .input-group .select2-container .select2-choice {
  height: 30px;
  line-height: 30px;
  background: none;
}
.hierarchy-table .main-content .areas .tr-filter td .input-group .select2-container .select2-choice .select2-arrow {
  border-left-color: #dfdfdf;
  background: none;
}
.hierarchy-table .main-content .areas .tr-filter td .input-group .select2-container .select2-choice > .select2-chosen {
  font-style: italic;
}
.hierarchy-table .main-content .areas .tr-filter td input, .hierarchy-table .main-content .areas .tr-filter td select {
  border: none;
  margin-left: 1px;
  font-style: italic;
  width: 99%;
  margin-right: 0;
  padding: 5px;
  height: 35px;
  margin-bottom: 1px;
}
.hierarchy-table .main-content .areas .tr-filter td .compo-date .btn-group .btn {
  border: none;
  height: 35px;
}
.hierarchy-table .main-content .areas .tr-filter td .compo-date .btn-group .btn .icon-calendar2 {
  top: 8px;
  left: 9px;
}
.hierarchy-table .main-content .areas .tr-filter td .compo-date .btn-group .btn .caret {
  right: 8px;
  top: 9px;
}
.hierarchy-table .main-content .areas .tr-filter td .compo-multiselect .btn-group .btn {
  border: none;
  height: 31px;
}
.hierarchy-table .main-content .areas .tr-filter td .compo-multiselect .btn-group .btn .icon-calendar2 {
  top: 8px;
  left: 9px;
}
.hierarchy-table .main-content .areas .tr-filter td .compo-multiselect .btn-group .btn .caret {
  right: 8px;
  top: 9px;
}
.hierarchy-table .main-content .loading {
  z-index: 2;
}
.hierarchy-table .main-content .area-footer {
  padding: 5px 10px;
  width: 100%;
  height: 35px;
  border-top: 1px solid #dfdfdf;
}
.hierarchy-table .main-content .area-footer .heading-text {
  float: left;
  margin-top: 2px;
}
.hierarchy-table .main-content .area-footer .pagination li a {
  padding: 1px;
  min-width: 25px;
}
.hierarchy-table .main-content .buffer-bl {
  background: #f1f1f1;
  bottom: 0;
  height: 17px;
  left: 1px;
  position: absolute;
}
.hierarchy-table .resize {
  height: 1px;
  position: relative;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid #dfdfdf;
  z-index: 1;
  margin-bottom: 1px;
  cursor: row-resize;
}
.hierarchy-table .resize button {
  padding: 0 20px;
  line-height: 10px;
  margin-top: 0;
  top: -13px;
  left: 48%;
  position: absolute;
}
.hierarchy-table .resize button i {
  font-size: 14px;
  height: 12px;
}
.hierarchy-table .table {
  table-layout: fixed;
}
.hierarchy-table .table tr th {
  font-family: var(--fb);
  height: 31px;
  position: relative;
  border-top: none;
  border-bottom: 1px solid #dfdfdf;
  background: #fff;
  padding: 5px;
  font-size: 12px;
  text-transform: uppercase;
}
.hierarchy-table .table tr th .th-scroll {
  position: absolute;
  z-index: 1;
  width: 5px;
  top: 0;
  right: 0;
  cursor: col-resize;
  bottom: 0;
}
.hierarchy-table .table tr th.orderable {
  cursor: pointer;
}
.hierarchy-table .table tr th.hc-1 {
  background: #e3f2fd;
  color: #104d92;
}
.hierarchy-table .table tr th.hc-2 {
  background: #fff3e0;
  color: #aa3510;
}
.hierarchy-table .table tr th.hc-3 {
  background: #e0f7fa;
  color: #00545c;
}
.hierarchy-table .table tr th.hc-4 {
  background: #f3e5f5;
  color: #6a1b9a;
}
.hierarchy-table .table tr th.hc-5 {
  background: #e8f5e9;
  color: #205823;
}
.hierarchy-table .table tr th.hc-6 {
  background: #e0f2f1;
  color: #333;
}
.hierarchy-table .table tr th.hc-7 {
  background: #fbe9e7;
  color: #9c1f1f;
}
.hierarchy-table .table tr th .th-tooltip {
  position: absolute;
  width: 20px;
  height: 20px;
  z-index: 8;
  right: 2px;
  top: 2px;
}
.hierarchy-table .table tr th .th-tooltip i {
  color: #999;
  font-size: 15px;
}
.hierarchy-table .table tr td {
  padding: 5px 10px;
  overflow: hidden;
  cursor: default;
  /*text-overflow: ellipsis;

  white-space: nowrap;*/
}
.hierarchy-table .table tr td > span {
  cursor: default;
}
.hierarchy-table .table tr td a:hover {
  text-decoration: underline;
}
.hierarchy-table .table tr td .aline {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
.hierarchy-table .table tr td.edit-inline {
  padding: 0;
  cursor: pointer;
}
.hierarchy-table .table tr td.edit-inline > span {
  padding: 3px 7px;
  display: block;
  font-size: 14px;
  cursor: pointer;
}
.hierarchy-table .table tr td.edit-inline .inline-form {
  display: none;
  margin: 0;
  cursor: pointer;
}
.hierarchy-table .table tr td.edit-inline .inline-form input {
  min-height: 36px;
  border: none;
  -moz-box-shadow: inset 0 0 10px #2196f3;
  -webkit-box-shadow: inset 0 0 10px #2196f3;
  box-shadow: inset 0 0px 10px #2196f3;
  border-radius: 0;
  font-size: 14px;
  padding: 7px;
}
.hierarchy-table .table tr td.edit-inline.editing > span {
  display: none;
}
.hierarchy-table .table tr td.edit-inline.editing .inline-form {
  display: block;
}
.hierarchy-table .table tr td.add-inline {
  padding: 0;
  cursor: pointer;
}
.hierarchy-table .table tr td.add-inline > span {
  padding: 3px 7px;
  display: block;
  font-size: 14px;
  cursor: pointer;
}
.hierarchy-table .table tr td.add-inline .inline-form {
  display: none;
  margin: 0;
  cursor: pointer;
}
.hierarchy-table .table tr td.add-inline .inline-form input {
  min-height: 36px;
  border: none;
  -moz-box-shadow: inset 0 0 10px #2196f3;
  -webkit-box-shadow: inset 0 0 10px #2196f3;
  box-shadow: inset 0 0px 10px #2196f3;
  border-radius: 0;
  font-size: 14px;
  padding: 7px;
}
.hierarchy-table .table tr td.add-inline.editing > span, .hierarchy-table .table tr td.add-inline.adding > span {
  display: none;
}
.hierarchy-table .table tr td.add-inline.editing .inline-form, .hierarchy-table .table tr td.add-inline.adding .inline-form {
  display: block;
}
.hierarchy-table .table tr td.disabled {
  background: #fff7d1;
  cursor: no-drop;
}
.hierarchy-table .table tr td.disabled textarea:read-only {
  background: #fff7d1;
}
.hierarchy-table .table tr.tr-group td {
  background: #e3f2fd;
  font-size: 14px;
  padding: 3px 10px;
  height: 35px;
}
.hierarchy-table .table tr.tr-group td > div {
  display: table;
}
.hierarchy-table .table tr.tr-group td > div .btn {
  display: table-cell;
  margin: -2px 15px 0 0;
  padding: 0;
  float: left;
  height: 20px;
  background: none;
}
.hierarchy-table .table tr.tr-group td > div .btn i {
  font-size: 22px;
  color: #18407d;
}
.hierarchy-table .table tr.tr-group td > div .btn.btn-add-row {
  margin: 0 0 0 15px;
  width: 25px;
}
.hierarchy-table .table tr.tr-group td > div .btn.btn-add-row i {
  font-size: 13px;
  color: #fff;
}
.hierarchy-table .table tr.tr-group td > div > span {
  float: left;
}
.hierarchy-table .table tr.tr-group td > div .checkbox {
  float: left;
  margin-right: 15px !important;
}
.hierarchy-table .table tr.tr-group td[class*=bg-] > div .btn i, .hierarchy-table .table tr.tr-group td[class^=bg-] > div .btn i {
  color: #fff;
}

.hierarchy-table .tr-filter td:first-child {
  border-left: none;
}
.hierarchy-table .tr-filter td {
  border-color: #dfdfdf !important;
  border-bottom: none;
}
.hierarchy-table .tr-filter td a {
  padding-top: 0 !important;
  padding-left: 10px !important;
}
.hierarchy-table .tr-filter td .select2-choice {
  height: 36px !important;
  line-height: 36px !important;
  background: none;
}
.hierarchy-table .tr-filter td .select2-chosen {
  font-style: italic;
  height: 35px;
  line-height: 36px;
}
.hierarchy-table .tr-filter td .multiselect-native-select > .btn-group.open .multiselect-container {
  position: fixed;
}
.hierarchy-table .tr-filter td .btn-reload {
  background: #fff;
  margin-top: 4px;
}
.hierarchy-table .areas .area-bl > div tr td {
  border-top: none;
}
.hierarchy-table .areas .area-bl > div tr td:first-child {
  border-left: none;
}
.hierarchy-table .areas .area-bl > div tr td .checkbox {
  margin: 0;
  height: 20px;
}
.hierarchy-table .areas .area-bl > div tr:nth-of-type(even) {
  background: #fff;
}
.hierarchy-table .areas .area-br > div {
  background: #fff;
}
.hierarchy-table .areas .area-br table tr td {
  border-left: none;
  white-space: normal;
  line-height: 20px;
  border-top: none;
}
.hierarchy-table .areas .area-br table tr td a {
  white-space: normal;
}
.hierarchy-table .areas .area-br table tr:nth-of-type(even) {
  background: #fff;
}
.hierarchy-table .areas .area-br .scroller {
  border-top-right-radius: 15px;
}
.hierarchy-table .areas .area-tr {
  overflow: hidden !important;
  border-top-right-radius: 15px;
}
.hierarchy-table .areas .area-tr > div {
  border-top-right-radius: 15px;
  background: #fff;
}
.hierarchy-table .areas .area-tr > div table tr td {
  border-left: none;
  white-space: normal;
  line-height: 20px;
}
.hierarchy-table .areas .area-tr > div table tr td a {
  white-space: normal;
}
.hierarchy-table .areas .area-tr .scroller {
  border-top-right-radius: 15px;
}
.hierarchy-table .areas .area.area-br > div tr td, .hierarchy-table .areas .area.area-bl > div tr td {
  border-top: none;
  border-bottom-color: #efefef;
}
.hierarchy-table .areas .area.area-br > div tr td .pl-30, .hierarchy-table .areas .area.area-bl > div tr td .pl-30 {
  padding-left: 30px;
}
.hierarchy-table .areas .area.area-br > div tr:nth-of-type(even), .hierarchy-table .areas .area.area-bl > div tr:nth-of-type(even) {
  background: #fff;
}
.hierarchy-table .areas.has-left .area-tr > div {
  border-top-left-radius: 0;
}
.hierarchy-table .areas.has-left .area-tr > div table th:first-child {
  border-top-left-radius: 0;
}
.hierarchy-table .main-content .area-footer {
  color: #3794fc;
  padding: 10px 15px;
  height: 50px;
}
.hierarchy-table .table {
  border: none;
  color: #233851;
}
.hierarchy-table .table thead tr th .th-hide, .hierarchy-table .table thead tr th .th-unhide {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  background: #97a4ba;
  border-radius: 6px;
  padding-top: 1px;
  cursor: pointer;
  display: none;
  z-index: 1;
}
.hierarchy-table .table thead tr th .th-hide:hover, .hierarchy-table .table thead tr th .th-unhide:hover {
  background: rgba(0, 0, 0, 0.6);
}
.hierarchy-table .table thead tr th .th-hide {
  top: 2px;
  right: 15px;
}
.hierarchy-table .table thead tr th .th-unhide {
  top: 2px;
  right: -9px;
}
.hierarchy-table .table thead tr th i {
  color: #fff;
  font-size: 11px;
}
.hierarchy-table .table thead tr th:hover .th-hide {
  display: block;
}
.hierarchy-table .table thead tr th.hided .title {
  display: none;
}
.hierarchy-table .table thead tr th.hided .th-hide {
  display: none !important;
}
.hierarchy-table .table thead tr th.hided .th-unhide {
  display: block;
}
.hierarchy-table .table tr.empty td {
  border: none;
}
.hierarchy-table .table tr td {
  padding: 7px 10px;
}
.hierarchy-table .table tr td p {
  margin: 0;
}
.hierarchy-table .table tr td .text-muted {
  font-size: 13px;
}
.hierarchy-table .table tr a {
  display: block;
  padding: 0;
  color: #18407d;
}
.hierarchy-table .table tr a:hover {
  color: #3794fc;
}
.hierarchy-table .table tr.active .text-muted {
  color: #fff !important;
}
.hierarchy-table .area-footer {
  background: #fff;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  font-size: 13px;
  padding-bottom: 10px;
  padding: 10px 15px;
  height: 50px;
}
.hierarchy-table .area-footer .pagination li a {
  padding: 1px;
  min-width: 25px;
  color: #97a4ba;
}
.hierarchy-table .area-footer .pagination li a i {
  font-size: 11px;
}
.hierarchy-table .area-footer .pagination li a.pre, .hierarchy-table .area-footer .pagination li a.next {
  background: #97a4ba;
  color: #fff;
  border-radius: 7px;
}
.hierarchy-table .area-footer .pagination li a.pre:hover, .hierarchy-table .area-footer .pagination li a.next:hover {
  background: #3794fc !important;
}
.hierarchy-table .area-footer .pagination li.active a {
  background: none;
  color: #3794fc;
}
.hierarchy-table.even-color .areas .area-bl > div tr:nth-of-type(even) {
  background: #f6f9fc;
}
.hierarchy-table.even-color .areas .area-br table tr:nth-of-type(even) {
  background: #f6f9fc;
}
.hierarchy-table.even-color .areas .area.area-br > div tr:nth-of-type(even), .hierarchy-table.even-color .areas .area.area-bl > div tr:nth-of-type(even) {
  background: #f6f9fc;
}

.loading {
  background: rgba(255, 255, 255, 0.6) none repeat scroll 0 0;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  z-index: 1;
}
.loading > div {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  margin: auto;
  padding: 5px;
  box-shadow: none;
}
.loading > div .sk-chase {
  width: 36px;
  height: 36px;
  position: relative;
  animation: sk-chase 2.5s infinite linear both;
}
.loading > div .sk-chase .sk-chase-dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  animation: sk-chase-dot 2s infinite ease-in-out both;
}
.loading > div .sk-chase .sk-chase-dot:before {
  content: "";
  display: block;
  width: 25%;
  height: 25%;
  background-color: #3794fc;
  border-radius: 100%;
  animation: sk-chase-dot-before 2s infinite ease-in-out both;
}
.loading > div .sk-chase .sk-chase-dot:nth-child(1) {
  animation-delay: -1.1s;
}
.loading > div .sk-chase .sk-chase-dot:nth-child(1):before {
  animation-delay: -1.1s;
}
.loading > div .sk-chase .sk-chase-dot:nth-child(2) {
  animation-delay: -1s;
}
.loading > div .sk-chase .sk-chase-dot:nth-child(2):before {
  animation-delay: -1.1s;
}
.loading > div .sk-chase .sk-chase-dot:nth-child(3) {
  animation-delay: -0.9s;
}
.loading > div .sk-chase .sk-chase-dot:nth-child(3):before {
  animation-delay: -1.1s;
}
.loading > div .sk-chase .sk-chase-dot:nth-child(4) {
  animation-delay: -0.8s;
}
.loading > div .sk-chase .sk-chase-dot:nth-child(4):before {
  animation-delay: -1.1s;
}
.loading > div .sk-chase .sk-chase-dot:nth-child(5) {
  animation-delay: -0.7s;
}
.loading > div .sk-chase .sk-chase-dot:nth-child(5):before {
  animation-delay: -1.1s;
}
.loading > div .sk-chase .sk-chase-dot:nth-child(6) {
  animation-delay: -0.6s;
}
.loading > div .sk-chase .sk-chase-dot:nth-child(6):before {
  animation-delay: -1.1s;
}

@keyframes sk-chase {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes sk-chase-dot {
  80%, 100% {
    transform: rotate(360deg);
  }
}
@keyframes sk-chase-dot-before {
  50% {
    transform: scale(0.4);
  }
  100%, 0% {
    transform: scale(1);
  }
}
.dropdown-menu {
  min-width: 260px;
}
