<nav class="sidebar" id="sidebar">
    <div class="sidebar-header">
        <div class="logo-wrapper">
            <i class="fa-solid fa-cubes-stacked"></i>
            <span class="logo-text">BMWindow</span>
        </div>
        <button class="sidebar-toggle" id="sidebarToggle">
            <i class="fa-solid fa-bars"></i>
        </button>
    </div>

    <ul class="nav flex-column sidebar-nav">
        <!-- Ứng dụng -->
        <li class="nav-item">
            <a class="nav-link has-submenu" data-bs-toggle="collapse" href="#menu-ungdung" role="button" data-tooltip="Ứng dụng" aria-expanded="true">
                <i class="nav-icon fa-solid fa-shapes"></i>
                <span class="nav-text">Ứng dụng</span>
                <i class="nav-arrow fa-solid fa-chevron-down"></i>
            </a>
            <div class="collapse submenu show" id="menu-ungdung">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a href="#" class="nav-link active" data-target="category-management" data-tooltip="Nhóm ứng dụng">
                            <i class="fa-solid fa-folder-tree submenu-icon"></i>
                            Nhóm ứng dụng
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link" data-target="app-management" data-tooltip="Danh sách ứng dụng">
                            <i class="fa-solid fa-list submenu-icon"></i>
                            Danh sách ứng dụng
                        </a>
                    </li>
                </ul>
            </div>
        </li>

        <!-- Cài đặt -->
        <li class="nav-item">
            <a class="nav-link" href="#" data-target="settings" data-tooltip="Cài đặt">
                <i class="nav-icon fa-solid fa-gear"></i>
                <span class="nav-text">Cài đặt</span>
            </a>
        </li>
    </ul>

    <!-- User Info ở dưới sidebar -->
    <div class="sidebar-footer">
        <div class="user-info">
            <div class="user-avatar">
                <i class="fa-solid fa-user"></i>
            </div>
            <div class="user-details">
                <div class="user-name">Administrator</div>
                <div class="user-role">Admin</div>
            </div>
        </div>
    </div>
</nav>