<div class="modal fade" id="category-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thêm/Sửa Nhóm ứng dụng</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label class="form-label">Tên nhóm</label>
                        <input type="text" class="form-control" placeholder="Nhập tên nhóm">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Thứ tự ưu tiên</label>
                        <input type="number" class="form-control" value="0">
                    </div>
                    <div class="mb-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="defaultCheck">
                            <label class="form-check-label" for="defaultCheck">
                                Đặt làm mặc định
                            </label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-primary">Lưu</button>
            </div>
        </div>
    </div>
</div>