.media-selector.single .item {
  height: 80px;
}
.media-selector.single .item .cover {
  display: block;
}
.media-selector.single .item .cover img {
  max-height: 80px;
  max-width: 400px;
}
.media-selector.single .item .cover .btn-group {
  display: block;
}
.media-selector.single .item .cover .btn-group button {
  display: inline;
  margin-top: 5px;
}
.media-selector.single .item .cover .btn-group button:last-child {
  margin-right: 0;
}
.media-selector.multiple .btn-group {
  margin-bottom: 5px;
  position: relative;
}
.media-selector.multiple .btn-group .btn {
  font-size: 12px;
}
.media-selector.multiple .btn-group .btn i {
  font-size: 11px;
  margin-right: 5px;
}
.media-selector.multiple .btn-group input {
  display: none;
  width: 121px;
  height: 35px;
}
.media-selector.multiple ul {
  padding: 10px 10px 0 10px;
  margin: 0;
  background: #eee;
  overflow: hidden;
}
.media-selector.multiple ul > li.img {
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 10px;
  position: relative;
  width: auto;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  cursor: move;
  float: left;
  min-width: 90px;
  min-height: 97px;
}
.media-selector.multiple ul > li.img .cover {
  display: block;
}
.media-selector.multiple ul > li.img .cover img {
  max-height: 80px;
  max-width: 400px;
}
.media-selector.multiple ul > li.img .actions {
  background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  padding: 3px;
  position: absolute;
  right: 0;
}
.media-selector.multiple ul > li.img .actions button {
  right: 5px;
  float: right;
}
.media-selector.multiple ul > li.img .actions button:last-child {
  margin-right: 0;
}
.media-selector.multiple ul > li.img.ui-sortable-placeholder {
  background: #fcd9ba;
  height: 97px;
  visibility: visible !important;
  width: 130px;
}
.media-selector.multiple ul > li.ui-state-highlight {
  border: 1px solid #fcefa1;
  background: #FCFAF2;
  box-shadow: none;
  width: 130px;
  height: 97px;
  display: inline-block;
}
.media-selector.multiple ul > li.file {
  background: none;
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 10px;
}
.media-selector.multiple ul > li.file .btn-white {
  font-family: Arial;
  font-weight: bold;
  max-width: 150px;
}

#mediaManagerModal > .modal-dialog {
  width: 90%;
  margin-top: 20px;
  margin-bottom: 0;
}
#mediaManagerModal .modal-body {
  padding: 0;
}
#mediaManagerModal .modal-body .media-content, #mediaManagerModal .modal-body .webaby-tree {
  overflow-y: auto;
}
#mediaManagerModal .footer {
  display: block !important;
  height: 50px;
}

@media (max-width: 600px) {
  .media-selector.multiple ul {
    padding: 5px 5px 0 5px !important;
  }
  .media-selector.multiple ul > li.ui-state-highlight {
    width: 90px;
    height: 68px;
    background: #9afae8;
    margin-bottom: 5px;
    margin-right: 5px;
    float: left;
  }
}
