.webaby-tree {
  display: flex;
  width: 100%;
}
.webaby-tree .hide {
  display: none !important;
}
.webaby-tree .wtree-content {
  width: 100%;
}
.webaby-tree .wtree-content .wtree-children {
  padding-left: 25px;
  margin-bottom: 0;
}
.webaby-tree .wtree-content .wtree-children.wtree {
  padding-left: 0;
}
.webaby-tree .wtree-content .wtree-children li {
  position: relative;
  white-space: nowrap;
  display: block;
}
.webaby-tree .wtree-content .wtree-children li .wtree-wholerow {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  left: 0;
  width: 100%;
  height: 24px;
  transition: background-color 0.15s, box-shadow 0.15s;
  cursor: pointer;
}
.webaby-tree .wtree-content .wtree-children li .wtree-wholerow:hover {
  background: #f0f3f4;
}
.webaby-tree .wtree-content .wtree-children li .wtree-wholerow.wholerow-hovered {
  background: #f0f3f4;
}
.webaby-tree .wtree-content .wtree-children li .folder-group {
  display: block;
  float: left;
  height: 23px;
  position: relative;
  width: 23px;
}
.webaby-tree .wtree-content .wtree-children li .folder-group .fa-folder, .webaby-tree .wtree-content .wtree-children li .folder-group .fa-folder-open {
  font-size: 18px;
  margin-top: 1px;
}
.webaby-tree .wtree-content .wtree-children li .folder-group .fa-folder.full, .webaby-tree .wtree-content .wtree-children li .folder-group .fa-folder-open.full {
  color: #E62540;
}
.webaby-tree .wtree-content .wtree-children li .folder-group .fa-user {
  bottom: 4px;
  color: #fff;
  font-size: 10px;
  position: absolute;
  right: 3px;
}
.webaby-tree .wtree-content .wtree-children li .wtree-icon {
  width: 24px;
  line-height: 24px;
  height: 24px;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  display: inline-block;
  position: relative;
  float: left;
  color: #19A9D5;
}
.webaby-tree .wtree-content .wtree-children li .wtree-icon.wtree-ocl {
  color: #333;
  font-size: 16px;
}
.webaby-tree .wtree-content .wtree-children li .wtree-icon.wtree-ocl.empty {
  opacity: 0;
}
.webaby-tree .wtree-content .wtree-children li .wtree-icon.wtree-ocl.opened {
  background-position: -35px -4px;
}
.webaby-tree .wtree-content .wtree-children li .wtree-icon.wtree-ocl:hover {
  background: rgba(0, 0, 0, 0.1);
}
.webaby-tree .wtree-content .wtree-children li .wtree-icon.wtree-checkbox {
  background: none;
  color: #dfdfdf;
  font-size: 20px;
}
.webaby-tree .wtree-content .wtree-children li .wtree-icon.wtree-checkbox.fa-check-square {
  color: #2196F3 !important;
}
.webaby-tree .wtree-content .wtree-children li .wtree-icon:hover {
  cursor: pointer;
}
.webaby-tree .wtree-content .wtree-children li .wtree-icon.fa-folder-open {
  color: #242A30;
}
.webaby-tree .wtree-content .wtree-children li .wtree-anchor {
  color: inherit;
  cursor: pointer;
  display: block;
  font-size: 13px;
  height: 24px;
  line-height: 24px;
  margin: 0 0 0 24px;
  outline: 0 none;
  position: relative;
  text-decoration: none;
  vertical-align: top;
  white-space: nowrap;
}
.webaby-tree .wtree-content .wtree-children li .wtree-anchor span {
  margin-left: 10px;
}
.webaby-tree .wtree-content .wtree-children li .wtree-anchor .edit-form {
  display: block;
  margin-left: 24px;
  position: relative;
}
.webaby-tree .wtree-content .wtree-children li .wtree-anchor .edit-form input {
  display: inline-block;
  font-size: 12px;
  height: 23px;
  padding: 2px 6px;
}
.webaby-tree .wtree-content .wtree-children li .wtree-anchor .edit-form button {
  border: medium none;
  position: absolute;
  right: 3px;
  height: 20px;
  top: 2px;
}
.webaby-tree .wtree-content .wtree-children li .creating {
  color: inherit;
  cursor: pointer;
  display: flex;
  font-size: 13px;
  height: 24px;
  line-height: 24px;
  margin: 0 0 0 24px;
  outline: 0 none;
  position: relative;
  text-decoration: none;
  vertical-align: top;
  white-space: nowrap;
}
.webaby-tree .wtree-content .wtree-children li .creating input {
  display: inline-block;
  height: 23px;
  padding: 2px 6px;
  font-size: 12px;
}
.webaby-tree .wtree-content .wtree-children li .creating button {
  border: medium none;
  position: absolute;
  right: 3px;
  top: 2px;
}
.webaby-tree .wtree-content .wtree-children li .wtree-anchor:hover ~ .wtree-wholerow {
  background: #f0f3f4 !important;
}
.webaby-tree .wtree-content .wtree-children li .btn-group {
  position: absolute;
  right: 0;
  top: 2px;
  opacity: 0;
}
.webaby-tree .wtree-content .wtree-children li .btn-group button {
  border: none;
  background: none;
  box-shadow: none;
}
.webaby-tree .wtree-content .wtree-children li .btn-group button i {
  color: #b4b6b7;
  font-size: 17px;
}
.webaby-tree .wtree-content .wtree-children li .btn-group button:hover i {
  color: #808080;
}
.webaby-tree .wtree-content .wtree-children li .btn-group .dropdown-menu {
  margin-top: 0;
  width: 200px;
  min-width: unset;
}
.webaby-tree .wtree-content .wtree-children li .btn-group .dropdown-menu a {
  font-size: 12px;
}
.webaby-tree .wtree-content .wtree-children li .btn-group .dropdown-menu span {
  clear: both;
  color: #333;
  display: block;
  font-weight: normal;
  line-height: 1.42857;
  padding: 5px 15px;
  white-space: nowrap;
}
.webaby-tree .wtree-content .wtree-children li .btn-group:hover {
  opacity: 1;
}
.webaby-tree .wtree-content .wtree-children li .wtree-wholerow:hover ~ .btn-group {
  opacity: 1;
}
.webaby-tree .wtree-content .wtree-children li .wtree-anchor:hover ~ .btn-group {
  opacity: 1;
}
.webaby-tree .wtree-content .wtree-children li .btn-group:hover ~ .wtree-wholerow {
  background: #f0f3f4 !important;
}
.webaby-tree .wtree-content .wtree-children li.active > .wtree-wholerow {
  background: #2196f3;
}
.webaby-tree .wtree-content .wtree-children li.active > .wtree-icon {
  color: #fff;
}
.webaby-tree .wtree-content .wtree-children li.active > .wtree-anchor > i, .webaby-tree .wtree-content .wtree-children li.active > .wtree-anchor > span {
  color: #fff;
}
.webaby-tree .wtree-content .wtree-children li.active > .wtree-anchor .folder-group .fa-folder {
  color: #fff;
}
.webaby-tree .wtree-content .wtree-children li.active > .wtree-anchor .folder-group .fa-folder.full {
  color: #E62540;
}
.webaby-tree .wtree-content .wtree-children li.active > .wtree-anchor .folder-group .fa-user {
  color: #999;
}
.webaby-tree .wtree-content .wtree-children li.active > .btn-group .btn i {
  color: #fff;
}
.webaby-tree .wtree-content .wtree-children li.active > .btn-group .btn:hover > i {
  color: #fff;
}

#mediaControlerPanel .modal-dialog {
  width: 88%;
}
#mediaControlerPanel .modal-body {
  padding: 0;
  background: #F1F1F1;
}
#mediaControlerPanel .modal-footer p {
  color: #ff6a00;
  font-size: 11px;
}

.gallery-panel {
  display: inline;
  float: left;
  width: 100%;
}
.gallery-panel .tabs {
  display: table;
}
.gallery-panel .tabs li {
  margin-right: 0;
  display: table;
}
.gallery-panel .tabs li a {
  border-bottom: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
  padding: 10px 20px;
}
.gallery-panel .tabs li a:hover {
  border-bottom-color: #e2e2e2;
  background: #dfdfdf;
}
.gallery-panel .tabs li.active a {
  background: #fff;
  border-bottom-color: #fff;
}
.gallery-panel .slimScrollDiv {
  width: 100% !important;
}
.gallery-panel .tool-panel {
  height: 44px;
  padding: 7px;
  border-bottom: 1px solid #e2e2e2;
  background: #fff;
}
.gallery-panel .tool-panel p {
  display: inline;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  clear: both;
  display: inline-block;
  white-space: nowrap;
  line-height: 27px;
}
.gallery-panel .tool-panel > ul {
  padding: 0;
  margin: 0;
}
.gallery-panel .tool-panel > ul > li {
  float: left;
  display: inline-block;
  margin: 0 10px;
  position: relative;
}
.gallery-panel .tool-panel > ul > li:after {
  background: #d9e1e8 none repeat scroll 0 0;
  bottom: 5px;
  content: "";
  position: absolute;
  right: -10px;
  top: 5px;
  width: 1px;
}
.gallery-panel .tool-panel > ul > li .file-button-group {
  position: relative;
}
.gallery-panel .tool-panel > ul > li .file-button-group input {
  position: absolute;
  width: 95px;
  top: 0;
  left: 0;
  cursor: pointer;
  opacity: 0;
  height: 31px;
}
.gallery-panel .tool-panel > ul > li .input-group {
  margin-bottom: 0;
  width: 130px;
}
.gallery-panel .tool-panel > ul > li .form-group .input-group-xs > .form-control, .gallery-panel .tool-panel > ul > li .form-group .input-group-xs > .input-group-addon, .gallery-panel .tool-panel > ul > li .form-group .input-group-xs > .input-group-btn > .btn {
  height: 27px;
}
.gallery-panel .tool-panel > ul > li .form-group .checkbox {
  margin-top: 3px;
  margin-bottom: 0;
}
.gallery-panel .tool-panel > ul > li .type-list ul {
  min-width: 40px;
}
.gallery-panel .tool-panel > ul > li .type-list a {
  padding: 10px;
  text-align: center;
}
.gallery-panel .tool-panel > ul > li .type-list a i {
  margin: 0;
}
.gallery-panel .tool-panel > ul > li:last-child {
  margin-right: 0;
}
.gallery-panel .tool-panel > ul > li:last-child:after {
  width: 0;
}
.gallery-panel .tool-panel > ul > li .btn-custom {
  height: 30px;
  margin-right: 5px;
  padding: 5px;
  width: 35px;
  background: #fff;
}
.gallery-panel .tool-panel > ul > li .btn-custom i {
  font-size: 19px;
}
.gallery-panel .tool-panel > ul > li .btn-custom:hover {
  border-style: solid;
  border-width: 1px;
  border-color: #dee5e7 #dee5e7 #d8e1e3;
  background: #EDF1F2;
}
.gallery-panel .tool-panel.folder-panel {
  padding: 0;
  height: 40px;
  border-bottom: none;
  background: #e4002b;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  -webkit-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.47);
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.47);
}
.gallery-panel .tool-panel.folder-panel ul {
  width: 100%;
  text-align: center;
}
.gallery-panel .tool-panel.folder-panel ul li {
  height: 40px;
  margin: 0;
  width: 50%;
}
.gallery-panel .tool-panel.folder-panel ul li:after {
  content: none;
}
.gallery-panel .tool-panel.folder-panel ul li div {
  padding: 12px 15px;
  height: 40px;
  text-transform: uppercase;
  font-size: 11px;
  color: #efefef;
  border-bottom: 3px solid #e4002b;
}
.gallery-panel .tool-panel.folder-panel ul li.active div {
  color: #fff;
  font-weight: bold;
  border-bottom-color: #fff;
}
.gallery-panel .aside {
  background: #fff none repeat scroll 0 0;
  float: left;
  width: 260px;
}
.gallery-panel .aside .webaby-tree {
  padding: 10px;
}
.gallery-panel .resize-bar {
  background: none;
  bottom: 0;
  box-shadow: none;
  cursor: e-resize;
  left: 260px;
  position: absolute;
  top: 0;
  visibility: visible;
  width: 10px;
}
.gallery-panel .resize-bar:before {
  position: absolute;
  content: "";
  left: 0;
  top: 44px;
  bottom: 50px;
  background: #dfdfdf;
  width: 1px;
}
.gallery-panel .medias {
  margin-left: 260px;
  min-height: 200px;
  position: relative;
  background: #eee;
  overflow: hidden;
}
.gallery-panel .medias .media-content {
  overflow-y: auto;
  width: 100%;
  background: #fff;
}
.gallery-panel .medias .media-content .list {
  display: inline-block;
  float: left;
  margin: 0;
  padding: 10px;
  width: 100%;
}
.gallery-panel .medias .media-content .list .media-item {
  display: inline-block;
  float: left;
  margin-bottom: 15px;
  margin-right: 15px;
  margin-top: 0;
  position: relative;
  background: #fff;
  cursor: pointer;
  min-width: 50px;
}
.gallery-panel .medias .media-content .list .media-item .fa-active {
  position: absolute;
  top: -9px;
  text-align: center;
  right: -10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  vertical-align: middle;
  background: #2196F3;
  border: 2px solid #2196F3;
  z-index: 1;
  display: none;
}
.gallery-panel .medias .media-content .list .media-item .fa-active i {
  color: #fff;
  font-size: 15px;
  margin-top: 5px;
}
.gallery-panel .medias .media-content .list .media-item .thumb {
  overflow: hidden;
  position: relative;
}
.gallery-panel .medias .media-content .list .media-item .thumb .img-container {
  height: 180px;
  display: flex;
  justify-content: center;
  max-width: 400px;
  min-width: 150px;
  align-items: center;
}
.gallery-panel .medias .media-content .list .media-item .thumb img {
  border-radius: 0;
  max-height: 180px;
  max-width: 100%;
  width: auto;
}
.gallery-panel .medias .media-content .list .media-item .thumb i {
  font-size: 45px;
  margin: 42px auto 0 60px;
  color: #E62540;
}
.gallery-panel .medias .media-content .list .media-item .thumb .detail {
  background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
  bottom: 0;
  color: #fff;
  font-size: 11px;
  left: 0;
  padding: 0 5px;
  position: absolute;
  right: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.gallery-panel .medias .media-content .list .media-item .info {
  display: block;
  padding: 5px;
}
.gallery-panel .medias .media-content .list .media-item .info .name {
  display: block;
  width: 100%;
}
.gallery-panel .medias .media-content .list .media-item .info .name i {
  border-radius: 50%;
  color: #f05050;
  display: block;
  float: left;
  font-size: 14px;
  margin-right: 10px;
  width: 15px;
  margin-top: 2px;
  cursor: default;
}
.gallery-panel .medias .media-content .list .media-item .info .name span {
  display: block;
  line-height: 16px;
  margin-left: 17px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: default;
}
.gallery-panel .medias .media-content .list .media-item .info .size, .gallery-panel .medias .media-content .list .media-item .info .detail {
  display: none;
}
.gallery-panel .medias .media-content .list .media-item.file .thumb {
  display: block;
  height: 180px;
  max-width: 400px;
  background: #efefef;
  border-radius: 10px;
}
.gallery-panel .medias .media-content .list .media-item.file .info {
  width: 160px;
}
.gallery-panel .medias .media-content .list .media-item.folder {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.gallery-panel .medias .media-content .list .media-item.folder .thumb {
  background: #FAFAFA;
  width: 40px;
  height: 40px;
  float: left;
}
.gallery-panel .medias .media-content .list .media-item.folder .thumb .folder-group {
  height: 22px;
  margin: 9px 0 0 10px;
  position: relative;
  width: 25px;
}
.gallery-panel .medias .media-content .list .media-item.folder .thumb .folder-group div {
  color: #8f8f8f;
  font-size: 25px;
  cursor: default;
}
.gallery-panel .medias .media-content .list .media-item.folder .thumb .folder-group i {
  bottom: 2px;
  color: #fff;
  position: absolute;
  right: 4px;
  cursor: default;
}
.gallery-panel .medias .media-content .list .media-item.folder .info {
  width: 180px;
  display: block;
  float: left;
}
.gallery-panel .medias .media-content .list .media-item.folder .info .name {
  margin-top: 5px;
}
.gallery-panel .medias .media-content .list .media-item.folder .info .name span {
  margin-left: 5px;
}
.gallery-panel .medias .media-content .list .media-item.active.folder .thumb {
  background: #19A9D5;
}
.gallery-panel .medias .media-content .list .media-item.active.folder .thumb div {
  color: #fff;
}
.gallery-panel .medias .media-content .list .media-item.active.folder .thumb i {
  color: #19A9D5;
}
.gallery-panel .medias .media-content .list .media-item.active.file .fa-active {
  display: block;
}
.gallery-panel .medias .media-content .list .media-item.active.file .thumb i {
  color: #fff;
}
.gallery-panel .medias .media-content .list .media-item:hover .tools, .gallery-panel .medias .media-content .list .media-item:hover > span {
  display: block;
}
.gallery-panel .medias .media-content .list .media-item:hover.file .thumb .detail {
  display: block;
}
.gallery-panel .medias .media-content.fa-list-ul {
  padding: 0;
  width: 100%;
}
.gallery-panel .medias .media-content.fa-list-ul:before {
  content: none;
}
.gallery-panel .medias .media-content.fa-list-ul .list {
  padding: 0;
}
.gallery-panel .medias .media-content.fa-list-ul .list .media-item {
  border-bottom: 1px solid #e2e2e2;
  display: inline;
  margin: 0;
  padding: 10px 15px;
  width: 100%;
}
.gallery-panel .medias .media-content.fa-list-ul .list .media-item > span {
  position: relative;
  background: none;
  color: #333;
  display: block;
}
.gallery-panel .medias .media-content.fa-list-ul .list .media-item .rename {
  left: 60px;
  top: -5px;
}
.gallery-panel .medias .media-content.fa-list-ul .list .media-item .thumb {
  float: left;
  height: 35px;
  margin-right: 10px;
  overflow: hidden;
  width: 35px;
}
.gallery-panel .medias .media-content.fa-list-ul .list .media-item .info {
  display: block;
  margin-left: 50px;
  position: relative;
  width: auto;
}
.gallery-panel .medias .media-content.fa-list-ul .list .media-item .info .name {
  left: 0;
  position: absolute;
  right: 35%;
  top: 8px;
  width: auto;
}
.gallery-panel .medias .media-content.fa-list-ul .list .media-item .info .name i {
  display: none;
}
.gallery-panel .medias .media-content.fa-list-ul .list .media-item .info .name span {
  margin-left: 0;
}
.gallery-panel .medias .media-content.fa-list-ul .list .media-item .info .size, .gallery-panel .medias .media-content.fa-list-ul .list .media-item .info .detail {
  float: right;
  margin-top: 8px;
  width: 15%;
  display: block;
}
.gallery-panel .medias .media-content.fa-list-ul .list .media-item.file .thumb {
  border-radius: 3px;
}
.gallery-panel .medias .media-content.fa-list-ul .list .media-item.file .thumb img {
  height: 35px;
  max-width: none;
}
.gallery-panel .medias .media-content.fa-list-ul .list .media-item.file .thumb i {
  font-size: 16px;
  margin: 9px 0 0 10px;
}
.gallery-panel .medias .media-content.fa-list-ul .list .media-item.folder .thumb {
  border-radius: 50%;
  background: #fff;
}
.gallery-panel .medias .media-content.fa-list-ul .list .media-item.folder .thumb .folder-group {
  margin-left: 6px;
  margin-top: 7px;
}
.gallery-panel .medias .media-content.fa-list-ul .list .media-item.folder .info {
  float: none;
}
.gallery-panel .medias .media-content.fa-list-ul .list .media-item.folder .info .name {
  margin: 0;
}
.gallery-panel .medias .media-content.fa-list-ul .list .media-item .size {
  display: block;
}
.gallery-panel .medias .media-content.fa-list-ul .list .media-item:hover.file .thumb .detail {
  display: none !important;
}
.gallery-panel .medias .media-content.fa-list-ul .list .media-item.active {
  background: #19A9D5;
}
.gallery-panel .medias .media-content.fa-list-ul .list .media-item.active .info {
  color: #fff;
}
.gallery-panel .medias .media-content.fa-list-ul .list .media-item.active .info i {
  color: #fff;
}
.gallery-panel .medias .media-content.fa-list-ul .list .media-item.active.folder .thumb {
  background: #fff;
}
.gallery-panel .medias .media-content.fa-list-ul .list .media-item.active.folder .thumb div {
  color: #8f8f8f;
}
.gallery-panel .medias .media-content.fa-list-ul .list .media-item.active.folder .thumb i {
  color: #fff;
}
.gallery-panel .medias .media-content.fa-list-ul .list .media-item.active.file .fa-active {
  display: none;
}
.gallery-panel .medias .media-content.fa-list-ul .list .media-item.active.file .thumb {
  background: #fff none repeat scroll 0 0;
  border-radius: 50%;
}
.gallery-panel .medias .media-content.fa-list-ul .list .media-item.active.file .thumb i {
  color: #E62540;
}
.gallery-panel .medias .media-content .empty {
  text-align: center;
}
.gallery-panel .medias .media-content .empty i {
  font-size: 125px;
  color: #e2e2e2;
  margin-top: 100px;
}
.gallery-panel .footer {
  background: #fff none repeat scroll 0 0;
  border-top: 1px solid #e2e2e2;
  float: left;
  padding: 10px;
  width: 100%;
  display: none;
  bottom: 0;
}
.gallery-panel .footer .action {
  display: block;
}
.gallery-panel .overflow {
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.gallery-panel .overflow .loading {
  background: #fff url("/shared/img/big-loading.gif") no-repeat scroll 8px center;
  border-radius: 10px;
  height: 46px;
  left: 45%;
  position: absolute;
  top: 60px;
  width: 46px;
}

.uploader-modal {
  z-index: 1051;
}
.uploader-modal .modal-body {
  max-height: 350px;
}
.uploader-modal .modal-body ul {
  margin-bottom: 5px !important;
  max-height: 350px;
  overflow: auto;
  padding: 0;
}
.uploader-modal .modal-body ul li {
  display: inline-block;
  padding: 5px 10px;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #f0f3f5;
}
.uploader-modal .modal-body ul li:last-child {
  border-bottom: none;
}
.uploader-modal .modal-body ul li .cover {
  height: 40px;
  width: 40px;
  overflow: hidden;
  float: left;
  border-radius: 50%;
  background: #d9534f;
  text-align: center;
}
.uploader-modal .modal-body ul li .cover i {
  color: #fff;
  font-size: 15px;
  margin-top: 12px;
}
.uploader-modal .modal-body ul li .info {
  margin-left: 60px;
  width: 80%;
}
.uploader-modal .modal-body ul li .info label {
  display: block;
  font-weight: normal;
  line-height: 10px;
  margin-bottom: 5px;
}
.uploader-modal .modal-body ul li .info label .name {
  display: inline-block !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 75%;
}
.uploader-modal .modal-body ul li .info .progress {
  display: block;
  margin: 0 0 5px;
  height: 7px;
}
.uploader-modal .modal-body ul li .info span {
  display: table-row;
  line-height: 14px;
}
.uploader-modal .modal-body ul li .info .status {
  position: absolute;
  right: 10px;
  top: 20px;
  color: #60BC57;
}
.uploader-modal .modal-body ul li .info .status i {
  font-size: 16px;
}
.uploader-modal .modal-body ul li.error {
  color: #E62540;
  font-size: 11px;
  border-bottom-color: #E62540 !important;
}
.uploader-modal .modal-body ul li.error .status {
  color: #E62540;
}

@media (max-width: 600px) {
  #mediaManagerModal {
    z-index: 1050;
  }
  #mediaManagerModal > .modal-dialog {
    width: auto !important;
    margin-top: 0 !important;
    padding: 0 !important;
    height: 100%;
  }
  #mediaManagerModal > .modal-dialog .modal-content {
    border-radius: 0;
    border: none;
    height: 100%;
  }
  #mediaManagerModal > .modal-dialog .modal-content .modal-header {
    padding: 7px 10px;
    height: 41px;
    border-bottom: none;
    background: #e4002b;
  }
  #mediaManagerModal > .modal-dialog .modal-content .modal-header .close {
    float: left;
    color: #fff;
    opacity: 1;
    margin-right: 7px;
    text-align: center;
    margin-top: 0px;
    font-size: 16px;
    vertical-align: middle;
    width: 30px;
    height: 30px;
  }
  #mediaManagerModal > .modal-dialog .modal-content .modal-header h3 {
    color: #fff;
    float: left;
    font-size: 15px;
    font-weight: bold;
    margin-top: 4px;
  }
  #mediaManagerModal > .modal-dialog .modal-content .modal-header .btn-select-file {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    margin-top: 4px;
    float: right;
    margin-left: 20px;
  }
  #mediaManagerModal > .modal-dialog .modal-content .modal-header .file-button-group {
    position: relative;
    float: right;
    overflow: hidden;
  }
  #mediaManagerModal > .modal-dialog .modal-content .modal-header .file-button-group .upload-btn {
    float: right;
    margin-top: 2px;
    padding: 0;
    border: none;
    background: none;
  }
  #mediaManagerModal > .modal-dialog .modal-content .modal-header .file-button-group .upload-btn img {
    height: 21px;
  }
  #mediaManagerModal > .modal-dialog .modal-content .modal-header .file-button-group input {
    position: absolute;
    width: 95px;
    top: 0;
    left: 0;
    cursor: pointer;
    opacity: 0;
    height: 31px;
    z-index: 10;
    right: 0;
  }
  #mediaManagerModal > .modal-dialog .modal-content .modal-header .dropdown-toggle {
    padding: 0px 15px;
    background: none;
    border: none;
    margin-left: 15px;
  }
  #mediaManagerModal > .modal-dialog .modal-content .modal-header .dropdown-toggle i {
    font-size: 18px;
    margin-top: 5px;
    color: #fff;
  }
  #mediaManagerModal > .modal-dialog .modal-content .modal-body {
    height: 100%;
  }
  #mediaManagerModal > .modal-dialog .modal-content .modal-body .gallery-panel {
    height: 100%;
  }
  #mediaManagerModal > .modal-dialog .modal-content .modal-body .gallery-panel .medias {
    margin-left: 0 !important;
    border-left: none;
    height: 100%;
  }
  #mediaManagerModal > .modal-dialog .modal-content .modal-body .gallery-panel .medias .media-content {
    background: #fff;
    position: absolute;
    top: 40px;
    bottom: 40px;
    z-index: 0;
  }
  #mediaManagerModal > .modal-dialog .modal-content .modal-body .gallery-panel .medias .media-content .list {
    padding: 3px;
  }
  #mediaManagerModal > .modal-dialog .modal-content .modal-body .gallery-panel .medias .media-content .list .media-item.file {
    width: 31%;
    margin-right: 5px;
    margin-bottom: 5px;
  }
  #mediaManagerModal > .modal-dialog .modal-content .modal-body .gallery-panel .medias .media-content .list .media-item.file .thumb {
    width: 100%;
    height: 100px;
  }
  #mediaManagerModal > .modal-dialog .modal-content .modal-body .gallery-panel .medias .media-content .list .media-item.file .thumb img {
    height: 100px;
  }
  #mediaManagerModal > .modal-dialog .modal-content .modal-body .gallery-panel .medias .media-content .list .media-item.file .info {
    display: none;
  }
  #mediaManagerModal > .modal-dialog .modal-content .modal-body .gallery-panel .medias .footer {
    display: none;
  }
  .uploader-modal .modal-header {
    padding: 10px 15px;
  }
  .uploader-modal ul li .cover {
    width: 35px !important;
    height: 35px !important;
    margin-top: 5px;
  }
  .uploader-modal ul li .cover img {
    margin-top: 10px !important;
  }
  .uploader-modal ul li .info {
    width: 75% !important;
    margin-left: 45px !important;
  }
  .uploader-modal ul li .info span {
    font-size: 11px;
  }
  .media-selector.multiple ul > li.img {
    width: 90px !important;
    margin-right: 5px !important;
    margin-bottom: 5px !important;
  }
}
@media (min-width: 1px) {
  .gallery-panel .tab-content .tool-panel > ul > li .file-button-group > button span {
    display: none !important;
  }
}
@media (min-width: 1300px) {
  .gallery-panel .tab-content .tool-panel > ul > li .file-button-group > button span {
    display: unset !important;
  }
}
