@using BMWindows;
@using Service.Utility.Components

<!DOCTYPE html>
<html lang="vi">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Admin BMWindow - Dashboard</title>
	@BundleHelper.Generate(new List<BundleType>()
		{
		BundleType.Web2,
		})
	<!-- ===== CSS Styles ===== -->
	<link rel="stylesheet" href="~/css/fontawesome.pro.6.0.0.css">
	<link rel="stylesheet" href="~/css/advance-grid.css">
    <link rel="stylesheet" href="~/css/admin.css">


</head>
<body>

	<!-- Wrapper chính -->
	<div class="wrapper">
		@await Html.PartialAsync("~/Views/Shared/_Sidebar.cshtml");

		<!-- Main Content Area -->
		<div class="main-content" id="mainContent">
			@RenderBody()
		</div>
	</div>

	@* <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script> *@

	
	<script src="~/js/script.js"></script>

	@RenderSection("Scripts", required: false)
</body>
</html>