

.compo-select3 {
    width: 100%;

    .btn-group {
        width: 100%;
        position: relative;

        > .btn-fil {
            text-align: left;
            width: 100%;
            position: relative;
            background: #fff;
            min-height: 32px;
            transition: unset;

            &:disabled {
                content: "disabled";
                background: #dfdfdf;
                color: grey;
            }

            span {
                width: 95%;
                display: block;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                min-height: 20px !important;
            }

            i {
                position: absolute;
                right: 5px;
                top: 6px;

                &.icon-calendar2 {
                    top: 7px;
                }

                &.caret {
                    right: 10px;
                    top: 8px;
                }
            }
        }

        .btn-delete {
            padding: 0;
            width: 32px;
            height: 32px;
            float: right;
            //position: absolute;
            display: none;
        }

        &.has-value {
            .btn-fil {
                width: calc(100% - 32px);
            }

            .btn-delete {
                display: block;
            }
        }
    }
}

.form-group-sm {
    .compo-select3 {
        .btn-group {
            > .btn-fil {
                padding: 5px 12px;

                i {
                    top: 8px;
                }
            }

            .btn-icon {
                padding: 0;
            }
        }
    }
}

.compo-select3-mask {
    border: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    left: 0;
    top: 0;
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: auto;
    opacity: 0;
    z-index: 1048;
    background-color: #fff;
    filter: alpha(opacity=0);
}

.compo-select3-drop {
    width: 400px;
    margin-top: -1px;
    position: absolute;
    z-index: 1050;
    padding: 5px;
    top: 100%;
    background: #fff;
    color: #000;
    border: 1px solid #5897fb;
    border-radius: 0 0 4px 4px;
    -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
    box-shadow: 0 4px 5px rgba(0, 0, 0, .15);


    .input-group {
        position: relative;
        width: 100%;

        input {
        }

        .icon-spinner10 {
            position: absolute;
            right: 10px;
            z-index: 5;
            top: 7px;
        }

        &.has-view-more {
            .icon-spinner10 {
                right: 115px;
            }
        }
    }

    .compo-items {
        max-height: 250px;
        overflow: auto;

        table {
            margin-top: 10px;

            tr {
                cursor: pointer;
                background: #fff !important;

                td {
                    padding: 3px 5px;

                    &.chb {
                        width: 30px;
                        text-align: center;
                    }
                }

                &:hover {
                    background: #efefef !important;
                }

                &.tr-empty {
                    td {
                        font-style: italic;
                    }
                }
            }
        }

        ul {
            margin: 10px 0 0 0;
            padding: 0;

            li {
                padding: 4px;
                border-bottom: 1px solid #efefef;
                font-size: 12px;
                cursor: pointer;

                input {
                    float: left;
                    margin: 3px 7px 0 0;
                }

                span {
                    float: left;
                }

                i {
                    font-size: 12px;
                }

                &:hover {
                    background: #2196f3;
                    color: #fff;
                }
            }
        }
    }


    .table-container {
        max-height: 250px;
        overflow: auto;

        .compo-items {
            max-height: unset;
            overflow: unset;
        }

        .compo-items-check {

            table {
                margin-top: 10px;

                tr {
                    cursor: pointer;
                    background: #fff !important;

                    td {
                        padding: 3px 5px;

                        &.chb {
                            width: 30px;
                            text-align: center;
                        }
                    }

                    &:hover {
                        background: #efefef !important;
                    }
                }
            }

            ul {
                margin: 10px 0 0 0;
                padding: 0;

                li {
                    padding: 4px;
                    border-bottom: 1px solid #efefef;
                    font-size: 12px;
                    cursor: pointer;

                    input {
                        float: left;
                        margin: 3px 7px 0 0;
                    }

                    span {
                        float: left;
                    }

                    i {
                        font-size: 12px;
                    }

                    &:hover {
                        background: #2196f3;
                        color: #fff;
                    }
                }
            }
        }
    }
}
