
.advance-list-group {
    background: #fff;
    position: relative;
    border-radius: 10px;
    width: 100%;

    .group-header {
        padding: 10px 15px;
        position: relative;

        h6 {
            margin: 0;
        }

        .heading-elements {
            top: 17px;

            ul {
                li {
                    .btn {
                        background: none;
                    }
                }
            }
        }

        .search-group {
            margin-top: 10px;
            display: inline-block;
            width: 100%;

            .form-group {
                margin-bottom: 0;
                margin-right: 15px;
                float: left;

                .form-control-feedback {
                    left: 0;
                    right: unset;
                    z-index: 5;

                    i {
                    }
                }

                input {
                    padding-left: 33px;
                    padding-right: 10px;
                    border-radius: 20px;
                }

                .btn {
                    border-top-left-radius: 20px;
                    border-bottom-left-radius: 20px;
                    padding: 6px 10px;
                    height: 36px;
                }

                .compo-date {
                    .btn {
                        border-radius: 20px;

                        i {
                            top: 9px;
                        }
                    }
                }


                &:last-child {
                    margin-right: 0;
                }

                &.has-feedback-right {
                    input {
                        padding-left: 10px;
                        padding-right: 33px;
                    }

                    .form-control-feedback {
                        left: unset;
                        right: 0;

                        i {
                        }
                    }
                }

                .input-group {
                    .select2-container {
                        border-top-right-radius: 20px;
                        border-bottom-right-radius: 20px;
                        box-shadow: none;

                        .select2-chosen {
                            font-size: 13px;
                        }
                    }
                }
            }

            .select2-container {
                box-shadow: none;
                background: none;

                .select2-choice {
                    height: 34px;
                    line-height: 34px;
                    background: none;

                    .select2-arrow {
                        border-left-color: #dfdfdf;
                        background: none;
                    }

                    > .select2-chosen {
                        font-style: italic;
                        height: 35px;
                        line-height: 36px;
                    }
                }
            }

            .main-toolbar {
                ul {
                    margin-left: 0;
                }
            }
        }
    }

    .loading {
        > div {
            margin-top: 100px;
        }
    }


    .group-item {
        position: absolute;
        top: 0;
        bottom: 0;
        border-right: 1px solid #dfdfdf;
        overflow: hidden;

        &:last-child {
            border-right: none;
        }

        .apply-advance-grid {
            position: relative;
            padding-left: 15px;
        }

        .group-content {
            position: absolute;
            top: 0;
            bottom: 0;
            overflow-y: auto;



            .media-list {
                > li.media {
                    cursor: pointer;

                    > a {
                        padding: 10px 15px;
                    }

                    &:nth-of-type(even) {
                        background: #f6f9fc;
                    }


                    .text-muted {
                        font-size: 12px;
                    }

                    &.active {

                        a {
                            background: #2196f3 !important;
                            color: #fff;

                            .text-muted {
                                color: #fff;
                            }
                        }

                        .select2-chosen{
                            color: #fff !important;
                        }
                    }
                }
            }
        }

        &.has-header {
            .slimScrollDiv {
                top: 100px;
            }
        }
    }
}


.loading {
    background: rgba(255, 255, 255, 0.6) none repeat scroll 0 0;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    z-index: 1;

    > div {
        width: 46px;
        height: 46px;
        border-radius: 50%;
        margin: auto;
        padding: 5px;
        background: none;
        box-shadow: none;

        .sk-chase {
            width: 36px;
            height: 36px;
            position: relative;
            animation: sk-chase 2.5s infinite linear both;

            .sk-chase-dot {
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                animation: sk-chase-dot 2.0s infinite ease-in-out both;

                &:before {
                    content: '';
                    display: block;
                    width: 25%;
                    height: 25%;
                    background-color: #3794fc;
                    border-radius: 100%;
                    animation: sk-chase-dot-before 2.0s infinite ease-in-out both;
                }

                &:nth-child(1) {
                    animation-delay: -1.1s;

                    &:before {
                        animation-delay: -1.1s;
                    }
                }

                &:nth-child(2) {
                    animation-delay: -1.0s;

                    &:before {
                        animation-delay: -1.1s;
                    }
                }

                &:nth-child(3) {
                    animation-delay: -0.9s;

                    &:before {
                        animation-delay: -1.1s;
                    }
                }

                &:nth-child(4) {
                    animation-delay: -0.8s;

                    &:before {
                        animation-delay: -1.1s;
                    }
                }

                &:nth-child(5) {
                    animation-delay: -0.7s;

                    &:before {
                        animation-delay: -1.1s;
                    }
                }

                &:nth-child(6) {
                    animation-delay: -0.6s;

                    &:before {
                        animation-delay: -1.1s;
                    }
                }
            }
        }
    }
}

@keyframes sk-chase {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes sk-chase-dot {
    80%, 100% {
        transform: rotate(360deg);
    }
}

@keyframes sk-chase-dot-before {
    50% {
        transform: scale(0.4);
    }

    100%, 0% {
        transform: scale(1.0);
    }
}
