.advance-list-group {
  background: #fff;
  position: relative;
  border-radius: 10px;
  width: 100%; }
  .advance-list-group .group-header {
    padding: 10px 15px;
    position: relative; }
    .advance-list-group .group-header h6 {
      margin: 0; }
    .advance-list-group .group-header .heading-elements {
      top: 17px; }
      .advance-list-group .group-header .heading-elements ul li .btn {
        background: none; }
    .advance-list-group .group-header .search-group {
      margin-top: 10px;
      display: inline-block;
      width: 100%; }
      .advance-list-group .group-header .search-group .form-group {
        margin-bottom: 0;
        margin-right: 15px;
        float: left; }
        .advance-list-group .group-header .search-group .form-group .form-control-feedback {
          left: 0;
          right: unset;
          z-index: 5; }
        .advance-list-group .group-header .search-group .form-group input {
          padding-left: 33px;
          padding-right: 10px;
          border-radius: 20px; }
        .advance-list-group .group-header .search-group .form-group .btn {
          border-top-left-radius: 20px;
          border-bottom-left-radius: 20px;
          padding: 6px 10px;
          height: 36px; }
        .advance-list-group .group-header .search-group .form-group .compo-date .btn {
          border-radius: 20px; }
          .advance-list-group .group-header .search-group .form-group .compo-date .btn i {
            top: 9px; }
        .advance-list-group .group-header .search-group .form-group:last-child {
          margin-right: 0; }
        .advance-list-group .group-header .search-group .form-group.has-feedback-right input {
          padding-left: 10px;
          padding-right: 33px; }
        .advance-list-group .group-header .search-group .form-group.has-feedback-right .form-control-feedback {
          left: unset;
          right: 0; }
        .advance-list-group .group-header .search-group .form-group .input-group .select2-container {
          border-top-right-radius: 20px;
          border-bottom-right-radius: 20px;
          box-shadow: none; }
          .advance-list-group .group-header .search-group .form-group .input-group .select2-container .select2-chosen {
            font-size: 13px; }
      .advance-list-group .group-header .search-group .select2-container {
        box-shadow: none;
        background: none; }
        .advance-list-group .group-header .search-group .select2-container .select2-choice {
          height: 34px;
          line-height: 34px;
          background: none; }
          .advance-list-group .group-header .search-group .select2-container .select2-choice .select2-arrow {
            border-left-color: #dfdfdf;
            background: none; }
          .advance-list-group .group-header .search-group .select2-container .select2-choice > .select2-chosen {
            font-style: italic;
            height: 35px;
            line-height: 36px; }
      .advance-list-group .group-header .search-group .main-toolbar ul {
        margin-left: 0; }
  .advance-list-group .loading > div {
    margin-top: 100px; }
  .advance-list-group .group-item {
    position: absolute;
    top: 0;
    bottom: 0;
    border-right: 1px solid #dfdfdf;
    overflow: hidden; }
    .advance-list-group .group-item:last-child {
      border-right: none; }
    .advance-list-group .group-item .apply-advance-grid {
      position: relative;
      padding-left: 15px; }
    .advance-list-group .group-item .group-content {
      position: absolute;
      top: 0;
      bottom: 0;
      overflow-y: auto; }
      .advance-list-group .group-item .group-content .media-list > li.media {
        cursor: pointer; }
        .advance-list-group .group-item .group-content .media-list > li.media > a {
          padding: 10px 15px; }
        .advance-list-group .group-item .group-content .media-list > li.media:nth-of-type(even) {
          background: #f6f9fc; }
        .advance-list-group .group-item .group-content .media-list > li.media .text-muted {
          font-size: 12px; }
        .advance-list-group .group-item .group-content .media-list > li.media.active a {
          background: #2196f3 !important;
          color: #fff; }
          .advance-list-group .group-item .group-content .media-list > li.media.active a .text-muted {
            color: #fff; }
        .advance-list-group .group-item .group-content .media-list > li.media.active .select2-chosen {
          color: #fff !important; }
    .advance-list-group .group-item.has-header .slimScrollDiv {
      top: 100px; }

.loading {
  background: rgba(255, 255, 255, 0.6) none repeat scroll 0 0;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  z-index: 1; }
  .loading > div {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    margin: auto;
    padding: 5px;
    background: none;
    box-shadow: none; }
    .loading > div .sk-chase {
      width: 36px;
      height: 36px;
      position: relative;
      animation: sk-chase 2.5s infinite linear both; }
      .loading > div .sk-chase .sk-chase-dot {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        animation: sk-chase-dot 2.0s infinite ease-in-out both; }
        .loading > div .sk-chase .sk-chase-dot:before {
          content: '';
          display: block;
          width: 25%;
          height: 25%;
          background-color: #3794fc;
          border-radius: 100%;
          animation: sk-chase-dot-before 2.0s infinite ease-in-out both; }
        .loading > div .sk-chase .sk-chase-dot:nth-child(1) {
          animation-delay: -1.1s; }
          .loading > div .sk-chase .sk-chase-dot:nth-child(1):before {
            animation-delay: -1.1s; }
        .loading > div .sk-chase .sk-chase-dot:nth-child(2) {
          animation-delay: -1.0s; }
          .loading > div .sk-chase .sk-chase-dot:nth-child(2):before {
            animation-delay: -1.1s; }
        .loading > div .sk-chase .sk-chase-dot:nth-child(3) {
          animation-delay: -0.9s; }
          .loading > div .sk-chase .sk-chase-dot:nth-child(3):before {
            animation-delay: -1.1s; }
        .loading > div .sk-chase .sk-chase-dot:nth-child(4) {
          animation-delay: -0.8s; }
          .loading > div .sk-chase .sk-chase-dot:nth-child(4):before {
            animation-delay: -1.1s; }
        .loading > div .sk-chase .sk-chase-dot:nth-child(5) {
          animation-delay: -0.7s; }
          .loading > div .sk-chase .sk-chase-dot:nth-child(5):before {
            animation-delay: -1.1s; }
        .loading > div .sk-chase .sk-chase-dot:nth-child(6) {
          animation-delay: -0.6s; }
          .loading > div .sk-chase .sk-chase-dot:nth-child(6):before {
            animation-delay: -1.1s; }

@keyframes sk-chase {
  100% {
    transform: rotate(360deg); } }

@keyframes sk-chase-dot {
  80%, 100% {
    transform: rotate(360deg); } }

@keyframes sk-chase-dot-before {
  50% {
    transform: scale(0.4); }
  100%, 0% {
    transform: scale(1); } }
