.modal-obj-selector .modal-content {
  border-radius: 15px;
}
.modal-obj-selector .col-left {
  padding-right: 0;
}
.modal-obj-selector .col-left .list-group.list-group-left .list-group-item {
  position: relative;
}
.modal-obj-selector .col-left .list-group.list-group-left .list-group-item::before {
  position: absolute;
  content: "";
  width: 5px;
  background: #fff;
  left: 0;
  top: 0;
  bottom: 0;
}
.modal-obj-selector .col-left .list-group.list-group-left .list-group-item.active {
  background: #f3f3f3;
  color: #2196f3;
}
.modal-obj-selector .col-left .list-group.list-group-left .list-group-item.active::before {
  background: #2196f3;
}
.modal-obj-selector .col-right {
  border-left: 1px solid #dfdfdf;
}
.modal-obj-selector .col-right input.form-control {
  border-radius: 16px;
}
.modal-obj-selector .col-right .list-group-responsize {
  height: 350px;
  overflow: auto;
}
.modal-obj-selector .col-right .list-group-responsize .list-group-item {
  padding: 10px;
}
.modal-obj-selector .col-right .list-group-responsize .list-group-item i {
  font-size: 17px;
}
.modal-obj-selector .col-right .list-group-responsize .list-group-item i.icon-checkmark-circle {
  color: #1e7cc7;
}
.modal-obj-selector .col-bottom {
  border-top: 1px solid #dfdfdf;
}
.modal-obj-selector .col-bottom .table {
  border: none;
}
.modal-obj-selector .col-bottom .table tr td {
  border: none;
  padding: 5px;
}
.modal-obj-selector .col-bottom .table tr td label {
  height: 34px;
  margin: 0;
  line-height: 34px;
  float: left;
}
.modal-obj-selector .col-bottom .table tr td .select-result-list {
  padding: 0;
  margin: 0;
  float: left;
  width: 100%;
}
.modal-obj-selector .col-bottom .table tr td .select-result-list li {
  position: relative;
  display: inline-block;
  float: left;
  background: #e3f2fd;
  border-radius: 20px;
  margin-right: 5px;
  margin-bottom: 5px;
}
.modal-obj-selector .col-bottom .table tr td .select-result-list li span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 6px 11px;
  padding-right: 45px;
  line-height: 1.6666667;
  color: #104d92;
}
.modal-obj-selector .col-bottom .table tr td .select-result-list li .btn {
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 20px;
  background: none;
  box-shadow: none;
  width: 40px;
  line-height: 17px;
}
.modal-obj-selector .col-bottom .table tr td .select-result-list li .btn i {
  color: #104d92;
}
.modal-obj-selector .tree-container .org-tree .org-item {
  display: table;
  padding: 1px 10px;
}
.modal-obj-selector .tree-container .org-tree .org-item > i {
  display: table-cell;
}
.modal-obj-selector .tree-container .org-tree .org-item > span {
  padding: 3px 10px;
  border-radius: 8px;
  display: table-cell;
}
.modal-obj-selector .search-group {
  overflow: auto;
  height: 350px;
}
.modal-obj-selector .media-emp {
  display: table;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}
.modal-obj-selector .media-emp .media-left {
  width: 90px;
  padding-right: 15px;
}
.modal-obj-selector .media-emp .media-left i {
  float: left;
  margin-right: 15px;
  margin-top: 12px;
}
.modal-obj-selector .media-emp .media-left img {
  float: left;
}
.modal-obj-selector .media-emp .media-body {
  width: unset;
}
.modal-obj-selector .media-emp:hover {
  background: #f3f3f3;
  cursor: pointer;
}
