@using Service.Utility.Components
@{
    ViewBag.Title = "Danh sách ứng dụng";
    Layout = "~/Views/Web/layouts/Default.cshtml";
}

<!-- Content Container -->
<div class="content-wrapper">
    <!-- AppItem Management Section -->
    <section id="app-management" class="content-section">
        <div id="AppItemList_panel">
            <div class="page-header">
                <div>
                    <h1 class="page-title">Quản lý ứng dụng</h1>
             
                </div>
            </div>
            <div class="panel-footer main-toolbar" style="background:none">
                <div class="heading-elements">
                    <ul class="nav navbar-nav" style="display: flex; flex-direction:row;">
                        @AppHelper.NavbarTools(new[] { "add", "reload" })
                    </ul>
                </div>
            </div>
            <div class="apply-table mt-15">
            </div>
        </div>
    </section>
</div>

@section Scripts {
    <script src="~/test/advance-grid.js"></script>
    <script src="~/js/Web/Admin/AppItemList.js"></script>
}
